@import url('https://fonts.googleapis.com/css2?family=Prompt:wght@300&display=swap');

body {
 background: #151515;
}
html {
 scroll-behavior: smooth;
}
* {
 font-family: Prompt,Hack, sans-serif !important;
 color: #fff;
 margin: 0px;
 padding: 0px;
 transition: all 0.5s;
 box-sizing: border-box; 
}


.fixedName {
 position: fixed;
 right: 10px;
 bottom: 10px;
}

.fixedName a {
 background: #111111;
 display: inline-block;
 padding: 7px 14px;
 border-radius: 4px;
 color: #2b4cb7;
 text-decoration: none;
 font-size: 1.2rem;
}

.fixedName a .fa-github {
 margin-right: 1.5px;
 margin-bottom: -1px;
}


/* Start Navbar */
.header {
 background: #242424;
 display: flex;
 justify-content: space-between;
 align-items: center;
 position: sticky;
 top: 0px;
 left: 0px; 
 max-height:50px;
 padding-top:5px;
 z-index:99;
}


/* Stack Code Start */
.path {
 animation: draw 3.5s infinite;
}

@keyframes draw {
 50% {
  stroke-dashoffset: 0;
 }
}

/* Stack Code End */

.headerEffect {  
 background:#252525;
} 

.header nav a {
 margin: 0px 10px;
 display: inline-block;
}

.navBars {
 display:none;
 cursor: pointer;
 font-size:1.3rem;
}

/* End Navbar */


/* Responsive Design */

@media (max-width:600px) {
 .navBars {
  display: unset !important;
 }
 .header nav {
  padding-right: 50px;
  display: flex;
  flex-direction: column;
  position: absolute;
  top: 95%;
  right: 0px;
  background: #242424;
  padding: 20px;
  transform: scaleY(0);
  transform-origin: top;
  border-radius:0px 0px 0px 20px;
 }
 .header nav a {
  margin:10px 0px;
 }
 .navUnset {
  transform: unset !important;
 }
}